@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800;900&family=Open+Sans:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

.brand-highlight{
    color: #16c0f0;
}
.navbar-brand{
    color: white!important;
}

.banner-section{
    background-image: url(../images/homeme.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.overlay {
    background-color: #0000008c;
    width: 100%;
    min-height: 100vh;
}
.display-table{
    display: table;
    width: 100%;
}
.intro {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
    min-height: 100%;
}
.intro p {
    color: #c3c0c0;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}
.intro h1 {
    color: white;
    font-size: 79px;
    font-weight: 800;
    letter-spacing: 7px;
    margin: 0;
    line-height: inherit;
    text-transform: capitalize;
}
.intro a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    background: #16c0f0;
    padding: 15px 37px;
    border-radius: 20px;
    line-height: 133px;
}
.custom-nav {
    background-color: rgba(0,0,0,0.5)!important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
.custom-item > li > a.active{
    color:#23849e!important ;
}
.custom-item .nav-item .nav-link:hover{
    color:#23849e!important;
}

.custom-item .nav-item a{
    color: white!important;
}

/* about me section css */
.about-me {
    background-color: #323232;
    padding: 50px 0px;
}
.about-me img {
    padding: 6px;
    transition: all .3s ease;
    opacity: .5;
    background: linear-gradient(98deg, #89898914 0%, #d5d5d508 100%);
}
.about-me img:hover{
    opacity: 100;
}
.about-me-info{}
.about-me-info .about-main-title h2 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 12px;
}
.about-main-title{
    position: relative;
    display: inline-block;
}
.about-me-info .about-main-title h2::before {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6d6d6f;
}
.about-main-title span {
    color: #16c0f0;
    position: absolute;
    left: 71%;
    top: 38px;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 2px;
    background-color: #323232;
    padding: 0px 3px;
}
.about-me-info h3 {
    position: relative;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 25px 0;
}
.about-me-info h3::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 2px;
    width: 17%;
    background-image: linear-gradient(45deg, #319be6 0%, #16c0f0 100%);
}
.about-me-info p{
    color: #C3C0C0;
}
.about-info-box{
    padding: 25px 30px;
    background-color: #000000;
}
.about-info-box p {
    position: relative;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding-left: 36px;
}
.about-info-box p span {
    background-image: linear-gradient(45deg, #319be6, #16c0f0);
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    font-size: 14px;
}
.about-info-box p:first-of-type span::before{
    content: none;
}
.about-info-box p span::before {
    content: "";
    position: absolute;
    left: 47%;
    bottom: 25px;
    /* transform: translateX(50%) translateX(-50%); */
    width: 2px;
    height: 20px;
    background-color: #24acea;
}